.desktop {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .overlap-wrapper {
  background: linear-gradient(180deg, rgb(155.96, 155.96, 155.96) 0%, rgb(112.61, 112.61, 112.61) 100%);
  background-color: rgba(255, 255, 255, 1);
  height: 1024px;
  width: 1440px;
}

.desktop .overlap {
  height: 1024px;
  position: relative;
}

.desktop .overlap-group {
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop .rectangle {
  background: linear-gradient(180deg, rgba(44.61, 44.61, 44.61, 0.86) 0%, rgba(117.71, 117.71, 117.71, 0.86) 100%);
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 564px;
}

.desktop .ellipse {
  background-color: #fefefe59;
  border-radius: 15px;
  height: 30px;
  left: 1079px;
  position: absolute;
  top: 39px;
  width: 30px;
}

.desktop .vector {
  height: 7px;
  left: 452px;
  position: absolute;
  top: 449px;
  width: 12px;
}

.desktop .div {
  background-color: #2d2d2d;
  height: 133px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop .text-wrapper {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 36px;
  white-space: nowrap;
  width: 359px;
}

.desktop .text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 77px;
  white-space: nowrap;
  width: 359px;
}

.desktop .text-wrapper-3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 733px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 57px;
  white-space: nowrap;
  width: 138px;
}

.desktop .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 1057px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 57px;
  white-space: nowrap;
  width: 155px;
}

.desktop .text-wrapper-5 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 1275px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 57px;
  white-space: nowrap;
  width: 155px;
}

.desktop .text-wrapper-6 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 934px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 58px;
  white-space: nowrap;
  width: 60px;
}

.desktop .ellipse-2 {
  background-color: #d9d9d9;
  border-radius: 29.5px;
  height: 59px;
  left: 31px;
  position: absolute;
  top: 37px;
  width: 59px;
}

.desktop .line {
  height: 2px;
  left: 892px;
  position: absolute;
  top: 131px;
  width: 143px;
}

.desktop .text-wrapper-7 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 258px;
  white-space: nowrap;
  width: 425px;
}

.desktop .group {
  height: 28px;
  left: 65px;
  position: absolute;
  top: 344px;
  width: 210px;
}

.desktop .overlap-group-2 {
  height: 28px;
  position: relative;
  width: 208px;
}

.desktop .text-wrapper-8 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 90px;
}

.desktop .img {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 208px;
}

.desktop .text-wrapper-9 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 480px;
  width: 90px;
}

.desktop .text-wrapper-10 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 598px;
  width: 90px;
}

.desktop .line-2 {
  height: 1px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 504px;
  width: 420px;
}

.desktop .line-3 {
  height: 1px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 622px;
  width: 420px;
}

.desktop .overlap-group-wrapper {
  height: 28px;
  left: 65px;
  position: absolute;
  top: 392px;
  width: 92px;
}

.desktop .overlap-2 {
  height: 28px;
  position: relative;
  width: 90px;
}

.desktop .line-4 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 88px;
}

.desktop .div-wrapper {
  height: 28px;
  left: 309px;
  position: absolute;
  top: 344px;
  width: 191px;
}

.desktop .overlap-3 {
  height: 28px;
  position: relative;
  width: 189px;
}

.desktop .text-wrapper-11 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 189px;
}

.desktop .line-5 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 176px;
}

.desktop .group-2 {
  height: 28px;
  left: 188px;
  position: absolute;
  top: 392px;
  width: 105px;
}

.desktop .overlap-4 {
  height: 28px;
  position: relative;
  width: 107px;
}

.desktop .group-3 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 107px;
}

.desktop .overlap-group-3 {
  height: 28px;
  position: relative;
  width: 105px;
}

.desktop .line-6 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 105px;
}

.desktop .vector-2 {
  height: 7px;
  left: 87px;
  position: absolute;
  top: 7px;
  width: 12px;
}

.desktop .group-4 {
  height: 28px;
  left: 326px;
  position: absolute;
  top: 392px;
  width: 125px;
}

.desktop .overlap-5 {
  height: 28px;
  position: relative;
  width: 127px;
}

.desktop .group-5 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 127px;
}

.desktop .overlap-group-4 {
  height: 28px;
  position: relative;
  width: 125px;
}

.desktop .line-7 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 125px;
}

.desktop .vector-3 {
  height: 7px;
  left: 107px;
  position: absolute;
  top: 7px;
  width: 12px;
}

.desktop .rectangle-2 {
  background-color: #ffffff;
  border-radius: 25px;
  height: 46px;
  left: 353px;
  position: absolute;
  top: 828px;
  width: 132px;
}

.desktop .rectangle-3 {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 25px;
  height: 46px;
  left: 192px;
  position: absolute;
  top: 828px;
  width: 132px;
}

.desktop .text-wrapper-12 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 361px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 839px;
  width: 115px;
}

.desktop .text-wrapper-13 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 200px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 839px;
  width: 115px;
}

.desktop .ellipse-3 {
  background-color: #fefefe59;
  border-radius: 15px;
  height: 30px;
  left: 719px;
  position: absolute;
  top: 767px;
  width: 30px;
}

.desktop .ellipse-4 {
  background-color: #fefefe59;
  border-radius: 15px;
  height: 30px;
  left: 954px;
  position: absolute;
  top: 299px;
  width: 30px;
}

.desktop .ellipse-5 {
  background-color: #fefefe59;
  border-radius: 15px;
  height: 30px;
  left: 1036px;
  position: absolute;
  top: 918px;
  width: 30px;
}

.desktop .ellipse-6 {
  background-color: #fefefe59;
  border-radius: 15px;
  height: 30px;
  left: 1133px;
  position: absolute;
  top: 618px;
  width: 30px;
}

.desktop .overlap-6 {
  height: 76px;
  left: 794px;
  position: absolute;
  top: 454px;
  width: 173px;
}

.desktop .ellipse-7 {
  background-color: #ffffff47;
  border-radius: 57px/7px;
  height: 14px;
  left: 30px;
  position: absolute;
  top: 52px;
  width: 114px;
}

.desktop .ellipse-8 {
  background-color: #ffffff2e;
  border-radius: 86.5px/14px;
  height: 28px;
  left: 0;
  position: absolute;
  top: 48px;
  width: 173px;
}

.desktop .color {
  height: 59px;
  left: 69px;
  position: absolute;
  top: 0;
  width: 41px;
}
