@font-face {
  font-family: 'mainFont'; /* Name your font */
  src: url('../assets/inter.ttf') format('truetype'); /* Path to your font file */
  /* You can specify other font properties here like font-weight, font-style, etc. */
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #070417;
}

.navPage {
  display: flex;
  align-items: flex-start;
}

.sideNavbar {
  width: 6vw;
  height: calc(100vh - 6vh);
  background-color: #292639;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navImage {
  height: 100%;
 
}


.navImageLink {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:1.75cm;
}

.page {
  width: 100vw;
  height: calc(100vh - 10vw);
  background-color: #070417;
}

.voiceBar {
  height: 7vh;
  width: 100vw;
  background-color: #292639;
  top: 50px;
  

}

.page, .sideNavbar, .voiceBar {
  color: white;
}

.homePage{
  background-color: #070417;
}

.allJobs {
  width:900px;
  height:500px;
  margin-left: 30px;
  margin-top: 300px;
  background-color:#3F3C4E;
  border-radius: 10px 10px 0px 0px;
}
.jobTitle{
  width:900px;
  height:96px;
  border-radius: 10px 10px 0px 0px;
  
  margin-top: 300px;

  background-color: #292639;
}
.allJobsTitle{
  font-size: 28x;
  font-weight: 600;
  font-family: 'mainFont' ;
  color:white;
}

